<div class="navbar fixed-bottom bg-dark">
    <footer>
        <div class="container-fluid">
            <p id="foot">
                Copyright &copy; <span><%= year %></span> by <small>Trygve</small>
            </p>
        </div>
    </footer>
</div>

<script src="main.js"></script>
</body>

</html>